.singleCourse{
    padding: 1rem;
    display: flex;
    justify-content: center;
    // ===================================== Loader ==================
   .speaking{
       position: fixed;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       z-index: 2;
       background-color: rgba(0, 0, 0, 0.596);
       display: flex;
       justify-content: center;
       align-items: center;
    .loader {
        width: 8px;
        height: 40px;
        border-radius: 4px;
        display: block;
        margin: 20px auto;
        position: relative;
        background: currentColor;
        color: #FFF;
        box-sizing: border-box;
        animation: animloader 0.3s 0.3s linear infinite alternate;
      }
      
      .loader::after, .loader::before {
        content: '';
        width: 8px;
        height: 40px;
        border-radius: 4px;
        background: currentColor;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        box-sizing: border-box;
        animation: animloader 0.3s  0.45s  linear infinite alternate;
      }
      .loader::before {
        left: -20px;
        animation-delay: 0s;
      }
      
      @keyframes animloader {
        0%   { height: 48px} 
        100% { height: 4px}
      }
     
   }
    // ===================================== End Loader ==================
    .singleCourse_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:min(100% - 7% ,800px);
        padding: 1rem;
        h1{
            color: #FFDE59;
            margin-bottom: 2rem;
            text-align: center;

        }
        .btns{
            width: min(100% - 5% ,120px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem 0;
            svg{
                font-size: 2rem;
                fill: white;
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    transition: 0.5s;
                    fill: #FFDE59;
                }
            }
           
        }
        .mic_btn{
            padding: 1.5rem;
            border-radius: 50%;
            background-color: #FFDE59;
            margin: 1rem 0;
            cursor: pointer;
            svg{
                
                font-size: 3rem;
                fill: white;
            }
            
        }
        .mic_btn_active{
            padding: 1.5rem;
            border-radius: 50%;
            background-color: green;
            margin: 1rem 0;
            cursor: pointer;
            svg{
                font-size: 3rem;
                fill: white;
            }
           
        }




        h4{
            font-size: 1.1rem;
            color: #3994C9;
            margin-bottom: 1rem;
        }
        h3{
            color: white;
            font-size: 2rem;
            text-align: center;
        }
        h5{
            color: #3994C9;
            font-size: 1rem;
            margin: 1rem 0;
        }
        h6{
            color: red;
            font-size: 1rem;
        }
        ul{
            // border: 1px red solid;
             width:min(100% - 3% ,800px);
            list-style:decimal ;
            list-style-position: inside;
            margin:2rem 0rem;
            &:empty{
                display: none;
            }
            li{
                border-bottom: 1px solid #fff;
                padding: 1rem;
                color: white;
                font-size: 1.1rem;
                cursor: pointer;
                // margin-bottom: 1rem;
                // text-align: center;
                transition: 0.2s;

                &:hover{
                    background-color: #FFDE59;
                    border: none;
                    color: black;
                    transition: 0.2s;
                }
            }
            .green{
                // border-bottom: 1px solid #fff;
                padding: 1rem;
                color: white;
                font-size: 1.1rem;
                cursor: pointer;
                // margin-bottom: 1rem;
                // text-align: center;
                transition: 0.2s;
                background-color: green;

                &:hover{
                    background-color: rgb(2, 73, 2);
                    transition: 0.2s;
                    color: white;
                }
            }
            .red{
                // border-bottom: 1px solid #fff;
                padding: 1rem;
                color: white;
                font-size: 1.1rem;
                cursor: pointer;
                // margin-bottom: 1rem;
                // text-align: center;
                transition: 0.2s;
                background-color: red;

                &:hover{
                    background-color: rgb(161, 4, 4);
                    transition: 0.2s;
                    color: white;
                }
            }
        }
        form{
            width: min(100% - 5%,700px);
            display: flex;
            flex-direction: column;
            align-items: center;
            input{
                padding: 1rem;
                width: 100%;
                font-size: 1.1rem;
                border: none;
                outline: none;
                margin-bottom: 2rem;
            }
            h5{
                color: red;
                margin-bottom: 1rem;
                font-size: 1rem;
            }
        }
        p{
            color: white;
            border: 1px white solid;
            width: min(100% - 5% , 600px);
            font-size: 1.1rem;
            padding: 1rem;
            margin-bottom: 2%;
            &:empty{
                display: none;
            }
        }
        button{
            background-color: #3994C9;
            width: min(100% - 7% , 20rem);
            padding: 0.7rem 0;
            font-size: 1.1rem;
            transition: 0.5s;
            border: none;
            outline: none;
            cursor: pointer;
            color: white;
            &:hover{
            transition: 0.5s;
                background-color: #136696;
            }
        }
    }
}
// ================================ Is fetching =========================
