.contact{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    gap: 1rem;
    padding: 1rem;
    padding-top: 7rem;

    form{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min(100% - 7%,500px);
        border-radius: 20px;
        padding: 1%;
      
       
        input{
            padding: 3%;
            width: 100%;
            margin-bottom: 5%;
            border-radius: 20px;
            border: 1px gray solid;
            outline: none;
            &:focus{
                border: 2px #3994C9 solid;
            }
            &::-webkit-inner-spin-button{
                display: none;
            }
        }
        textarea{
            resize: none;
            width: 100%;
            border-radius: 20px;
            border: 1px gray solid;
            outline: none;
            margin-bottom: 5%;
            padding: 3%;
            &:focus{
                border: 2px #3994C9 solid;
            }
        }
        button{
            width: 100%;
            font-size: 1rem;
            padding: 2.5% 0;
            border-radius: 20px;
            background-color: #303030;
            color: white;
            margin-bottom: 4%;
            cursor: pointer;
            transition: 0.5s;
            border: none;
            outline: none;
            &:hover{
                transition: 0.5s;
                background-color: #3994C9;
            }
            &:disabled{
                background-color: gray;
                color: red;
            }
        }
       
    }
    a{
        width: min(80% - 7%,23rem);
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}