.feedbackPage{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 7rem;

    h1{
        color: white;
        text-align: center;
    }
    .box{
        // flex: 0.2 1 250px;
        width: min(100% - 5%,25rem);
        border: 1px #FFDE59 solid;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
       
        a{
            display: flex;
            width: 100%;
            img{
                width: 100%;
                height: 15rem;
                object-fit:cover;

            }
        }
        h1{
            margin: 2% 0;
            color: white;
            font-size: 2rem;
            text-align: center;
        }
        
        span{
            display: flex;
            margin-bottom: 2%;
        }
        h4{
            width: min(100% - 5%,400px);
            // word-break: break-all;
            height: 5rem;
            overflow-y: scroll;
            margin-bottom: 2%;
            text-align: center;
            &::-webkit-scrollbar{
                display: none;
            }
            color: white;
            font-size: 1.1rem;
        }
        h5{
            margin-bottom: 2%;
            color: #FFDE59;
            font-size: 0.8rem;
        }

    }
}